@import "nullstyle.scss";
@import url("https://fonts.googleapis.com/css?family=Inconsolata:regular,700,900&display=swap&subset=cyrillic-ext");

/*--------------------*/
body {
   font-family: "Inconsolata", sans-serif;
   font-size: 18px;
   background-color: #000;
   background: url("../source/img/167271-zhivopis-risovanie-abstraktnoe_iskusstvo-art-cifrovoe_iskusstvo-1420x3000.jpg")
      0 0 / cover no-repeat fixed;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}
/*--------------------*/
.container {
   width: 1420px;
   margin: 0 auto;
   min-height: 100%;
}

/*--------------------*/
.header {
   background-color: #000;

   &__form {
      display: flex;
      justify-content: flex-end;
      align-content: center;
      padding: 1rem;
   }

   &__search {
      border: 2px solid #eef1f6;
      border-radius: 50px;
      background-color: transparent;
      font-family: inherit;
      font-size: inherit;
      padding: 0.5rem 1rem;
      color: #000;
      width: 250px;
      transition: width 0.4s ease-in-out;
      &:focus {
         width: 100%;
         background-color: #eef1f6;
      }
   }
}
/*--------------------*/
.main {
   flex: 1 1 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   &__movie {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 30px 0px;
   }
}
.movie {
   width: 300px;
   margin: 1rem;
   background-color: #000;
   box-shadow: 0px 0px 0px 5px rgba(66, 66, 66, 0.4);
   position: relative;
   overflow: hidden;
   border-radius: 5px;
   color: #eef1f6;
   display: flex;
   flex-direction: column;
   transition: all 0.3s ease;
   &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.6);
      & .movie__overview {
         opacity: 1;
      }
      & .movie__img,
      & .movie__info {
         opacity: 0.2;
      }
   }
   &__img {
      flex: 1 1 auto;
   }
   &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 1rem 1rem;
      letter-spacing: 0.5px;
      min-height: 50px;
   }
   &__header {
      max-width: 200px;
      font-weight: 700;
      font-size: 21px;
   }
   &__overview {
      opacity: 0;
      bottom: 0;
      position: absolute;
      text-align: center;
      display: flex;
      align-items: center;
      padding: 2rem;
      transition: all 0.3s ease-in;
      overflow: auto;
      max-height: 100%;
   }
}
.img__movie {
   width: 100%;
}
/*--------------------*/
.footer {
}
